{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="{% url 'books' %}">Каталог</a></h1>
        </div>
        <div class="row">
            {% for book in books %}
                <div class="book col-md-4">
                    <h2>{{ book.name }}</h2>
                    <p>Автор: {{ book.author }}</p>
                    <p>Дата публикации: {{ book.pub_date|date:'Y-m-d' }}</p>
                </div>
            {% endfor %}
        </div>
    <br>
    <hr>
    <p>
    {% if pages_by_date.has_previous %}
        <a href="{% url 'books_pub_date' pages_by_date.get_previous_page_slug %}">< {{ pages_by_date.get_previous_page_slug|date:'Y-m-d' }}</a> |
    {% endif %}
    {% if pages_by_date.has_next %}
        <a href="{% url 'books_pub_date' pages_by_date.get_next_page_slug %}">{{ pages_by_date.get_next_page_slug|date:'Y-m-d' }} ></a>
    {% endif %}
    </p>
    </div>
{% endblock %}